<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('../partials/head.ejs'); %>   
</head>

<body>
    <header>
        <%- include('../partials/header.ejs'); %>
    </header>

    <main>
        <div class="row">
            <div class="col-sm-8">
              <div class="jumbotron">
                <h1>Welcome To BioCare</h1>
                <p>The company BioCare offer a selection of organic and eco-friendly products</p>
              </div>
            </div>
          
            <div class="col-sm-4">
              <div class="well">
                <h3>Look our shop !</h3>
              </div>
            </div>
          </div>
    </main>
 
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>